name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install bandit safety

    # 1️⃣ SAST Python – Bandit
    - name: Bandit security scan
      run: bandit -r . -ll

    # 2️⃣ Dependency vulnerability scan
    - name: Safety dependency scan
      run: safety check

    # 3️⃣ Build Docker image
    - name: Build Docker image
      run: docker build -t flask-secure-app .

    # 4️⃣ Scan Docker image
    - name: Trivy image scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: flask-secure-app
        severity: CRITICAL,HIGH
        exit-code: 1
